=form_for @schedule do |f|
	%table.outer
	
		%tr
			%td= f.label :name
			%td.field= f.text_field :name
	
		%tr
			%td= f.hd_label :birthday
			%td.field= f.date_picker :birthday, :hd_opts => { :year_range => "-120:+0" }
	
		%tr
			%td= f.hd_label :lunchtime
			%td.field= f.time_picker :lunchtime
	
		%tr
			%td= f.hd_label :apocalypse
			%td.field= f.datetime_picker :apocalypse, :hd_opts => { :change_year => true, :change_month => true }
	
		%tr
			%td= f.hd_label :epoch
			%td.field= f.datetime_picker :epoch
	
		%tr
			%td= f.hd_label :christmas
			%td.field= f.date_picker :christmas
	
		%tr
			%td= f.hd_label :alarm_setting
			%td.field= f.time_picker :alarm_setting
	
		%tr
			%td= f.hd_label :suppertime
			%td.field= f.time_picker :suppertime
	
		%tr
			%td= f.hd_label :beer_oclock
			%td.field= f.time_picker :beer_oclock
	
		%tr
			%td= f.hd_label :sleepytime
			%td.field= f.time_picker :sleepytime
	
		%tr
			%td= f.hd_label :party_time
			%td.field= f.time_picker :party_time
	
		%tr
			%td= f.label :easter
			%td.field= f.date_select :easter
	
		%tr
		
			%td{:colspan => "2", :style => "text-align: center;"}
				= f.submit "Save & Back to List", name: "btn_index"
				= f.submit "Save & Reload", name: "btn_reload"
		
%br/
= link_to "Back", schedules_path